@import "tailwindcss";
@plugin "daisyui"{
  themes: false;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --swiper-theme-color: yellow !important;
}

body{
  background-color: black !important;
  color: white !important;
}


